<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".presentation.standalone.ChatActivity"
            android:exported="true"
            android:label="PaLM Chat"
            android:launchMode="singleInstancePerTask"
            android:theme="@style/Theme.Chat"
            android:windowSoftInputMode="adjustResize">

            <intent-filter android:autoVerify="false">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="dkexception.com" />
                <data android:pathPattern="/palm/chat" />

            </intent-filter>

        </activity>

    </application>

</manifest>
